<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <coverage includeUncoveredFiles="false">
        <include>
            <directory suffix=".php">widgets/src/</directory>
        </include>
    </coverage>

    <testsuites>
        <testsuite name="Test Suite">
            <directory>widgets/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>